@{
    ViewData["Title"] = "CatalogoCortes";
}



<div class="mobile-margin-bottom image-section" >
    <img src="~/Img/Fondo_Principal.jpeg" alt="Fondo Principal"  >
    <div class="overlay">
        <div class="overlay-text">Bienvenido a Barberia Levy</div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card custom-card">
                <div class="card-header custom-card-header">
                    <h2>Quiénes Somos</h2>
                </div>
                <div class="card-body custom-card-body">
                    <p>Somos una barbería comprometida en brindar un servicio de excelencia a nuestros clientes.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-md-0">
            <div class="card custom-card">
                <div class="card-header custom-card-header">
                    <h2>Nuestra Misión</h2>
                </div>
                <div class="card-body custom-card-body">
                    <p>Nuestra misión es crecer como empresa a nivel nacional de Guatemala, ofreciendo servicios de alta calidad.</p>
                </div>
            </div>
        </div>
    </div>
</div>

