@{
    ViewData["Title"] = "CatalogoCortes";
}

<div class="text-center">
    <h1 class="display-4">Barberia Levy</h1>
</div>

<div class="mobile-margin-bottom" style="position: relative; width: 100%; overflow: hidden; height: 500px;">
    <img src="~/Img/Fondo_Principal.jpeg" alt="Fondo Principal" style="position: absolute; top: 0; left: 0; width: 100%; height: auto;">
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="p-3">
                <h2>Quiénes Somos</h2>
                <p>Somos una barbería comprometida en brindar un servicio de excelencia a nuestros clientes.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-md-0">
            <div class="p-3">
                <h2>Nuestra Misión</h2>
                <p>Nuestra misión es crecer como empresa a nivel nacional de Guatemala, ofreciendo servicios de alta calidad.</p>
            </div>
        </div>
    </div>
</div>

